<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1> Hello, User </h1>
        <h2>Here's my project :)</h2>
        <a href="/3a"title ="Liður 3a">Liður 3a</a>
            <a href="/3b"title ="Liður 3b">Liður 3b</a>
            <a  href="/blablabla" >Til að Prufa 404</a>
        </header>
        <br>
        <img src="https://image.flaticon.com/icons/svg/817/817397.svg" height="250" width="250">
    
</body>
</html>