<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h3>Þversumma kennitölu</h3>
    </header>
    <ol>
        <li>Lorraine Rós <a href="/sida/2509022390">2509022390</a></li>
        <li>Random Rós <a href="/sida/2610022491">2610022491</a></li>
    </ol>
</body>
</html>